*{
    margin: 0;
    padding: 0;
    user-select: none;
}

body{
    overflow: none;
    display: flex;
    font-family: sans-serif;
    background: url('fb-game-background.png');
}

.disable__dbl__tap__zoom{
    touch-action: manipulation;
}

.game__container{
    width: 500px;
    height: 730px;
    position: absolute;
    left: 80px;
    display: flex;
    flex-direction: column;
    margin-left: 28%;
}

.border__left{
    width: 80px;
    height: 730px;
    position: absolute;
    background: url('fb-game-background.png');
    z-index: 10;
    margin-left: 28%;
}

.border__right{
    width: 80px;
    height: 730px;
    position: absolute;
    background: url('fb-game-background.png');
    z-index: 10;
    left: 580px;
    margin-left: 28%;
}

.border__top{
    width: 500px;
    height: 50px;
    position: absolute;
    background-color: white;
    top: -50px;
    z-index: 10;
    margin-left: 28%;
}

.sky{
    background-image: url('fb-game-background.png');
    width: 500px;
    height: 580px;
    position: absolute;
}

.ground{
    background-image: url('bottom-background.png');
    width: 500px;
    height: 150px;
    position: absolute;
    top: 580px;
    z-index: 1;
    animation: move 5s linear infinite;
}

@keyframes move {
    0% { background-position: 0 0; }
    100% { background-position: -500px 0; }
  }

.bird{
    background-image: url('flappy-bird.png');
    position: absolute;
    height: 45px;
    width: 60px;
    z-index: 5;
}

.obstacle{
    background-image: url('flappybird-pipe.png');
    width: 60px;
    height: 300px;
    position: absolute;
}

.top__obstacle{
    background-image: url('flappybird-pipe.png');
    transform: rotate(180deg);
    width: 60px;
    height: 300px;
    position: absolute;
}

#score{
    color: black;
    margin-top: 800px;
    margin-left: 40%;
    font-size: 2rem;
}